# Class Exercise
## Working with CSV/TSV Data

In [1]:
data = """
Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size
90001\t57110\t26.6\t28468\t28642\t12971\t4.4
90002\t51223\t25.5\t24876\t26347\t11731\t4.36
90003\t66266\t26.3\t32631\t33635\t15642\t4.22
""".strip()

### FOR Loop

In [4]:
data.split('\n')

['Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size',
 '90001\t57110\t26.6\t28468\t28642\t12971\t4.4',
 '90002\t51223\t25.5\t24876\t26347\t11731\t4.36',
 '90003\t66266\t26.3\t32631\t33635\t15642\t4.22']

In [5]:
data.split('\n')[0]

'Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size'

In [6]:
data.split('\n')[0].split('\t')

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

In [7]:
data.split('\n')[1].split('\t')

['90001', '57110', '26.6', '28468', '28642', '12971', '4.4']

In [10]:
answer = []
for line in data.split('\n'):
    line_values = line.split('\t')
    answer.append(line_values)
answer

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

#### WHILE Loop

In [3]:
answer = []
i = 0
data_lines = data.split('\n')
while i < len(data_lines):
    values = data_lines[i].split('\t')
    answer.append(values)
    i += 1
answer

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

In [8]:
[
    data.split('\n')[0].split('\t'),
    data.split('\n')[1].split('\t'),
    data.split('\n')[2].split('\t'),
    data.split('\n')[3].split('\t')
    
]

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

In [16]:
print(int())

0

In [15]:
int()

0